@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,200;1,900&display=swap');
.message-container{
	height: 420px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid #999;
}



.message-container #output {
    background-color: lightyellow;
	display: flex;
	flex-direction: column;
	padding: 7px 13px;
	width: 75%;
	margin: 4px 10px;
	border-radius: 20px;
	margin-left: 20px;

}
.message-container #outputUser{
    background-color:  #fff;
	display: flex;
	flex-direction: column;
	padding: 7px 13px;
	width: 75%;
	margin: 4px 10px;
	margin-left: 100px;
	border-radius: 20px;
}
.message-container #outputUser p{
	color: #533E85;
	width: 100%;
	font-family: poppins;
	font-size: 16px;

}
.message-container #output p{
	color: #555;
	width: 100%;
	font-family: poppins;
	font-size: 16px;

}
.message-container #output h5{
	color: #77dd;
    font-size: 16px;
	font-family: poppins;
	font-weight: 400;
}
.message-container #outputUser h5{
	color: cadetblue;
	font-size: 16px;
	font-family: poppins;
	font-weight: 400;
}
.message-container #outputUser button{
	position: relative;
	right: 0;
	cursor: pointer;
	margin-left: 90%;
	border: 0;
	background-color: transparent;
	width: 7px;
	
}
.message-container #outputUser span{
	font-size: 17px;
	color: lightsalmon;
}

.message-container #output button{
	position: relative;
	right: 0;
	cursor: pointer;
	margin-left: 90%;
	border: 0;
	background-color: transparent;
	width: 7px;
	
}
.message-container #output span{
	font-size: 17px;
	color: lightsalmon;
}